<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Mahasiswa</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #3c7850 !important;
            border-color:#3c7850 !important;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('/')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Mahasiswa</h2>
                <br>
                <form th:action="@{/mahasiswa/add}" th:object="${mahasiswa}" method="POST">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username" required/>
                    <br>
                    <label>Nama</label>
                    <input class="form-control" type="text" name="nama" required/>
                    <br>
                    <label>Email</label>
                    <input class="form-control" type="text" name="email" required/>
                    <br>
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" required/>
                    <br>
                    <label>NIM</label>
                    <input class="form-control" type="number" name="nim" required/>
                    <br>
                    <label>Tahap</label>
                    <input class="form-control" type="text" name="tahap" required/>
                    <br>
                    <button class="btn btn-primary" type="submit" name="save">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>