<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Ubah Mahasiswa</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #3c7850 !important;
            border-color:#3c7850 !important;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('/')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Ubah Mahasiswa</h2>
                <br>
                <form th:action="@{'/mahasiswa/update/' + ${mahasiswa.idUser}}" th:object="${mahasiswa}" method="POST">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username" required onchange="update()"/>
                    <br>
                    <label>Nama</label>
                    <input class="form-control" type="text" name="nama" required onchange="update()"/>
                    <br>
                    <label>Email</label>
                    <input class="form-control" type="text" name="email" required onchange="update()"/>
                    <br>
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" required onchange="update()"/>
                    <br>
                    <label>NIM</label>
                    <input class="form-control" type="number" name="nim" required onchange="update()"/>
                    <br>
                    <label>Tahap</label>
                    <input class="form-control" type="text" name="tahap" required onchange="update()"/>
                    <br>
                    <button class="btn btn-primary" type="submit" name="save">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>

<script>
    function update() {
        var username = document.getElementById("username");
        var nama = document.getElementById("nama");
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var nim = document.getElementById("nim");
        var tahap = document.getElementById("tahap");
    }
</script>