<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


<head>
    <title>Daftar Mahasiswa</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" /><style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #3c7850 !important;
            border-color:#3c7850 !important;
        }
    </style>
</head>

<body>
  <nav th:replace="fragments/fragment :: navbar('/')"></nav>
  <nav th:replace="fragments/fragment :: navbar('/')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Daftar Mahasiswa</h2>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Email</th>
                        <th>Nama</th>
                        <th>NIM</th>
                        <th>Tahap</th>
                        <th colspan="4" style="text-align: center">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mahasiswa, iterationStatus : ${listMahasiswa}"
                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                        <td th:text="${iterationStatus.count}"></td>

                        <td th:text="${mahasiswa.email}"></td>
                        <td th:text="${mahasiswa.nama}"></td>
                        <td th:text="${mahasiswa.nim}"></td>
                        <td th:text="${mahasiswa.tahap}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{'/mahasiswa/update/'+ ${mahasiswa.idUser}}">Ubah</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>


</html>