body{
    background-color: darkseagreen;
    font-family: Poppins;
}

#navbarSupportedContent{
    font-family: 'Poppins';
}

.table tr th {
    vertical-align: middle;
}
.f-l {
    float: left;
}

.f-r {
    float: right;
}