<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SITA | Seminar Hasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
</head>
<body>
<div th:replace="fragments/fragment :: navbar(${'/seminar-proposal'})"></div>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center">Jadwal Seminar Hasil Berhasil Dihapus</h2>
                <br>
                <div class="text-right">
                    <a class="btn btn-secondary" href="/jadwalSidangHasil">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
