<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>SITA | Seminar Hasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

</head>

<body>
<div th:replace="fragments/fragment :: navbar(${'/seminar-hasil'})"></div>
<!--body-->
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center">Add Jadwal Seminar Hasil</h2>
                <br>
                <div th:object="${addJadwalSemhas}">
                    Judul :
                    <span class="font-weight-bold" th:text="*{seminarHasil.ugb.judulUgb}" />
                    <br><br>

                    Mahasiswa :
                    <span class="font-weight-bold" th:text="*{seminarHasil.ugb.mahasiswa.nama}" />
                    <br><br>

                    Dosen Penguji :<br><br>
                    <ul th:each="penguji: ${getPenguji}">
                        <li class="font-weight-bold" th:text="${penguji.nama}"></li>
                    </ul>

                    Status Dokumen:
                    <span class="text-success font-weight-bold " th:text="*{seminarHasil.statusDokumen}" />
                    <br><br>
                </div>

                <form th:action="@{/jadwalSidangHasil/create}" th:object="${addJadwalSemhas}" method="POST">
                    <input class="form-control" type="text" th:field="*{seminarHasil.idSeminarHasil}" hidden />

                    Jadwal: <br>
                    <input required class="form-control" type="datetime-local" name="tanggalSemhas" th:value="*{tanggalSemhas}"/>
                    <br><br>

                    Tempat: <br>
                    <input required class="form-control" type="text" name="tempatSemhas" th:value="*{tempatSemhas}"/>
                    <br><br>

                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                    <a class="btn btn-secondary" href="/jadwalSidangHasil-pendaftar">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!--body-->
</body>
</html>