<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>SITA | Seminar Hasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
</head>

<body>
<!--navbar-->
<div th:replace="fragments/fragment :: navbar(${'/seminar-hasil'})"></div>

<!--body-->
<br>
<h2 class="text-center font-weight-bold text-light">Penjadwalan Seminar Hasil</h2>
<br>

<div class="container">
    <div class="card m-4 p-4">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <a role="button" class="btn btn-secondary" href="/jadwalSidangHasil">Jadwal</a>
            </div>
            <div class="input-group">
                <a role="button" class="btn btn-success" href="/home">Back</a>
            </div>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <h3 class="font-weight-bold text-center">PENDAFTAR</h3>
                <!--Table-->
                <br>
                <div th:if="*{listdaftarSemhas.size() != 0}">
                    <br>
                    <table class="table">
                        <thead>
                        <tr class="table-success">
                            <th style="text-align: center">No</th>
                            <th style="text-align: center">Judul</th>
                            <th style="text-align: center">Mahasiswa</th>
                            <th style="text-align: center">Dosen Penguji</th>
                            <th style="text-align: center">STATUS</th>
                            <th style="text-align: center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pendaftarSemhas, iterationStatus : ${listdaftarSemhas}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;' ">

                            <td  th:text="${iterationStatus.count}"></td>
                            <td  th:text="${pendaftarSemhas.ugb.judulUgb}"></td>
                            <td  th:text="${pendaftarSemhas.ugb.mahasiswa.nama}"></td>
                            <td>
                                <ul th:each="penguji, iterationStatus2 : ${pendaftarSemhas.ugb.penguji}">
                                    <li th:text="${penguji.nama}"></li>
                                </ul>
                            </td>
                            <td th:text="${pendaftarSemhas.statusSemhas}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary" th:href="@{/jadwalSidangHasil/create/} + ${pendaftarSemhas.idSeminarHasil}">Create</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div th:unless="*{listdaftarSemhas.size() !=0}">
                    <h3 class="text-center" th:text="'Tidak ada Mahasiswa yang Mendaftar Seminar Hasil'"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--body-->
</body>
</html>