<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SITA</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        body {
            background-color: #e0e0e0;
        }
        .container-content {
            width: 850px;
            display: flex;
            justify-content: center;
            padding-bottom: 80px;
        }

        .container-table {
            width: 900px;
            height: auto;
            border-radius: 10px;
            border-style: solid;
            border-color: #2D89FF;
        }

        .content-container-table {
            display: flex;
            justify-content: center;
        }

        .table {
            margin-top: 20px;
            width: 1100px;
            height: auto;
        }

        th {
            text-align: center;
            color: #000000;
        }

        td {
            text-align: center;
        }

        .filter-bar {
            border-radius: 15px 15px 0 0;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 1100px;
            margin: 20px auto 0;
            background-color: rgb(38, 63, 14);
            padding: 0 0;
        }

        .filter-bar button {
            color: #ffffff;
            border: none;
            padding: 10px 0;
            cursor: pointer;
            text-align: center;
            background-color: #3c7850;
            width: 100%;
        }

        .filter-bar button.active {
            border-bottom: 3px solid #000000;
        }

        .filter-bar button:hover {
            background-color:  rgb(38, 63, 14);
        }

        .table-row-hidden {
            display: none;
        }

        #filterDenied{
            border-radius: 0 15px 0 0;
        }

        #filterAll{
            border-radius: 15px 0 0 0;
        }

        .filter-bar {
            border-radius: 15px 15px 0 0;
        }

        .table{
            margin-top: 0px;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'/tugas-akhir'})"></nav>


<div class="container">
    <div class="d-flex justify-content-center">
        <h2 class="mt-4" style="font-weight: bold;">Daftar Peserta Sidang Tugas Akhir</h2>
    </div>
    <div class="filter-bar">
        <button id="filterAll">ALL</button>
        <button id="filterApprove">APPROVE</button>
        <button id="filterApproved">APPROVED</button>
        <button id="filterDenied">DENIED</button>
    </div>
    <div class="d-flex justify-content-center">
        <div class="content-container-table">
            <table class="table">
                <thead>
                <tr>
                    <th>NIM</th>
                    <th>Nama Mahasiswa</th>
                    <th>Judul TA</th>
                    <th>Dosen Pembimbing</th>
                    <th>Dosen Penguji</th>
                    <th style="text-align: center">Aksi</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="tugasAkhir, iterationStatus : ${listTugasAkhir}" 
                    th:style="${iterationStatus.even} ? 'background-color:#f2f2f2;' : 'background-color:#eceaea;'">
                        <td th:text="${tugasAkhir != null ? (tugasAkhir.ugb != null ? (tugasAkhir.ugb.mahasiswa != null ? tugasAkhir.ugb.mahasiswa.nim : '') : '') : ''}"></td>
                        <td>
                            <a th:href="@{/profile/{parameter}(parameter=${tugasAkhir.ugb.mahasiswa.idUser})}" th:text="${tugasAkhir?.ugb?.mahasiswa?.nama}" style="text-decoration: none; color: black;"></a>
                        </td>        
                        <td>
                            <a th:href="@{/tugas-akhir/detail/{parameter}(parameter=${tugasAkhir.idTugasAkhir})}" th:text="${tugasAkhir.ugb.judulUgb}" style="text-decoration: none; color: black;"></a>
                        </td>                    
                        <td style="text-align: left;">
                            <ul>
                                <li th:each="pembimbing : ${tugasAkhir.ugb.pembimbing}" th:text="${pembimbing.nama}" ></li>
                            </ul>
                        </td>
                        <td style="text-align: left;">
                            <ul>
                                <li th:each="penguji : ${tugasAkhir.ugb.penguji}" th:text="${penguji.nama}"></li>
                            </ul>
                        </td>
                        <td>
                            <span th:if="${tugasAkhir.statusDokumen == 'SUBMITTED' || tugasAkhir.statusDokumen == 'DENY'}">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-primary" th:href="@{/tugas-akhir/detail/} + ${tugasAkhir.idTugasAkhir}">Detail</a>
                                </div>
                            </span>
                            <span th:unless="${tugasAkhir.statusDokumen == 'SUBMITTED' || tugasAkhir.statusDokumen == 'DENY'}">
                                <span th:if="${tugasAkhir.nilai == null}">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-success input-button" data-toggle="modal" data-target="#inputNilaiModal"
                                            th:attr="data-id=${tugasAkhir.idTugasAkhir}"
                                        >Input Nilai</button>
                                    </div>
                                </span>
                                <span th:unless="${tugasAkhir.nilai == null}">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-success update-button" data-toggle="modal" data-target="#updateNilaiModal"
                                        th:attr="data-id=${tugasAkhir.idTugasAkhir}, data-nilai=${tugasAkhir.nilai}, data-status=${tugasAkhir.statusTugasAkhir}"
                                        >Update Nilai</button>
                                    </div>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="inputNilaiModal" tabindex="-1" role="dialog" aria-labelledby="inputNilaiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputNilaiModalLabel">Input Nilai Sidang Tugas Akhir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nilai:</label>
                    <input type="text" class="form-control" id="nilai" required>
                </div>
                <div class="form-group">
                    <label>Status:</label>
                    <select class="form-control" id="statusTugasAkhir" required>
                        <option value="LULUS">LULUS</option>
                        <option value="TIDAK LULUS">TIDAK LULUS</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" id="simpanNilai">Simpan</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateNilaiModal" tabindex="-1" role="dialog" aria-labelledby="updateNilaiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateNilaiModalLabel">Update Nilai Tugas Akhir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nilai:</label>
                    <input type="text" class="form-control" id="updateNilai" required>
                </div>
                <div class="form-group">
                    <label>Status:</label>
                    <select class="form-control" id="updateStatusTugasAkhir" required>
                        <option value="LULUS">LULUS</option>
                        <option value="TIDAK LULUS">TIDAK LULUS</option>
                    </select>
                </div>
            </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-primary" id="simpanUpdateNilai">Simpan</button>
    </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
document.querySelectorAll(".input-button").forEach(function(button) {
    button.addEventListener("click", function() {
        var tugasAkhirId = this.getAttribute("data-id");
        document.getElementById("simpanNilai").setAttribute("data-id", tugasAkhirId);
    });
});

document.getElementById("simpanNilai").addEventListener("click", function () {
    var tugasAkhirId = this.getAttribute("data-id");
    var nilai = document.getElementById("nilai").value;
    var statusTugasAkhir = document.getElementById("statusTugasAkhir").value;

    if (isNaN(parseFloat(nilai)) || nilai === "") {
        alert("Nilai harus berupa angka.");
        return;
    }

    var data = {
        idTugasAkhir: tugasAkhirId,
        nilai: parseFloat(nilai),
        statusTugasAkhir: statusTugasAkhir
    };
    fetch("/tugas-akhir/input-nilai/" + tugasAkhirId, {
        method: "POST",
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(function (response) {
        if (response.ok) {
            $("#inputNilaiModal").modal("hide");
            window.location.href = "/tugas-akhir/detail/" + tugasAkhirId;
        } else {
            alert("Gagal menyimpan nilai.");
        }
    })
    .catch(function (error) {
        console.error("Error:", error);
    });

});

</script>
<script>
document.querySelectorAll(".update-button").forEach(function(button) {
    button.addEventListener("click", function() {
        var tugasAkhirId = this.getAttribute("data-id");
        var nilai = this.getAttribute("data-nilai");
        var statusTugasAkhir = this.getAttribute("data-status");

        document.getElementById("updateNilai").value = nilai;
        document.getElementById("updateStatusTugasAkhir").value = statusTugasAkhir;

        document.getElementById("simpanUpdateNilai").setAttribute("data-id", tugasAkhirId);
    });
});

document.getElementById("simpanUpdateNilai").addEventListener("click", function () {
    var tugasAkhirId = this.getAttribute("data-id");
    var nilai = document.getElementById("updateNilai").value;
    var statusTugasAkhir = document.getElementById("updateStatusTugasAkhir").value;

    if (isNaN(parseFloat(nilai)) || nilai === "") {
        alert("Nilai harus berupa angka.");
        return;
    }
    var data = {
        idTugasAkhir: tugasAkhirId,
        nilai: parseFloat(nilai),
        statusTugasAkhir: statusTugasAkhir
    };

    fetch("/tugas-akhir/update-nilai/" + tugasAkhirId, {
        method: "POST",
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(function (response) {
        if (response.ok) {
            $("#updateNilaiModal").modal("hide");
            window.location.href = "/tugas-akhir/detail/" + tugasAkhirId;
        }
    })
    .catch(function (error) {
        console.error("Error:", error);
    });
});

</script>
<script>
    function filterDaftar(status) {
        var rows = document.querySelectorAll('.table tbody tr');

        rows.forEach(function (row) {
            var statusDokumen = row.getAttribute('data-status');

            if (status === 'ALL') {
                row.style.display = '';
            } else if(status === statusDokumen) {
                row.style.display = '';
            } else{
                row.style.display = 'none';
            }
        });
    }

    document.getElementById("filterApprove").addEventListener("click", function () {
        filterDaftar("SUBMITTED");
        window.location.href = "/tugas-akhir/filter?status=SUBMITTED";
    });

    document.getElementById("filterApproved").addEventListener("click", function () {
        filterDaftar("APPROVED");
        window.location.href = "/tugas-akhir/filter?status=APPROVED";
    });

    document.getElementById("filterDenied").addEventListener("click", function () {
        filterDaftar("DENY");
        window.location.href = "/tugas-akhir/filter?status=DENY";
    });
    document.getElementById("filterAll").addEventListener("click", function () {
        filterDaftar("ALL");
        window.location.href = "/tugas-akhir/viewall";
    });

</script>
