<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    </head>
    <head th:fragment="js">
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        
    </head>
</head>
<body>
    <nav th:fragment="navbar(page)" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id="logoContainer" href="/">
            <img src="/logo/unand-emas-small.png" height="50" width="200">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                </li>

                <li class="nav-item dropdown" th:classappend="${page == '/ugb'} ? active : ''">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        UGB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                        <div sec:authorize="hasAnyAuthority('ROLE_[PEMBIMBING, PENGUJI]', 'ROLE_[PENGUJI, PEMBIMBING]', 'ROLE_[KOORDINATOR]', 'ROLE_[PEMBIMBING]', 'ROLE_[PENGUJI]')">
                            <a class="dropdown-item" href="/ugb/viewall">Daftar Peserta</a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_[MAHASISWA]')">
                            <a class="dropdown-item" href="/ugb/add">Pendaftaran</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown" th:classappend="${page == '/seminar-proposal'} ? active : ''">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seminar Proposal
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div sec:authorize="hasAnyAuthority('ROLE_[PEMBIMBING, PENGUJI]', 'ROLE_[PENGUJI, PEMBIMBING]', 'ROLE_[KOORDINATOR]', 'ROLE_[PEMBIMBING]', 'ROLE_[PENGUJI]')">
                            <a class="dropdown-item" href="/seminar-proposal/viewall">Daftar Peserta</a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_[MAHASISWA]')">
                            <a class="dropdown-item" href="/seminar-proposal/add">Pendaftaran</a>
                        </div>
                        <a class="dropdown-item" href="/jadwalSidangProposal">Jadwal Sidang</a>
                    </div>
                </li>

                <li class="nav-item dropdown" th:classappend="${page == '/seminar-hasil'} ? active : ''">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seminar Hasil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div sec:authorize="hasAnyAuthority('ROLE_[PEMBIMBING, PENGUJI]', 'ROLE_[PENGUJI, PEMBIMBING]', 'ROLE_[KOORDINATOR]', 'ROLE_[PEMBIMBING]', 'ROLE_[PENGUJI]')">
                            <a class="dropdown-item" href="/seminar-hasil/viewall">Daftar Peserta</a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_[MAHASISWA]')">
                            <a class="dropdown-item" href="/seminar-hasil/add">Pendaftaran</a>
                        </div>
                        <a class="dropdown-item" href="/jadwalSidangHasil">Jadwal Sidang</a>
                    </div>
                </li>

                <li class="nav-item dropdown" th:classappend="${page == '/tugas-akhir'} ? active : ''">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tugas Akhir
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div sec:authorize="hasAnyAuthority('ROLE_[PEMBIMBING, PENGUJI]', 'ROLE_[PENGUJI, PEMBIMBING]', 'ROLE_[KOORDINATOR]', 'ROLE_[PEMBIMBING]', 'ROLE_[PENGUJI]')">
                            <a class="dropdown-item" href="/tugas-akhir/viewall">Daftar Peserta</a>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ROLE_[MAHASISWA]')">
                            <a class="dropdown-item" href="/tugas-akhir/add">Pendaftaran</a>
                        </div>
                        <a class="dropdown-item" href="/jadwalSidangTugasAkhir">Jadwal Sidang</a>
                    </div>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('ROLE_[PEMBIMBING, PENGUJI]', 'ROLE_[PENGUJI, PEMBIMBING]', 'ROLE_[PEMBIMBING]', 'ROLE_[PENGUJI]', 'ROLE_[MAHASISWA]')" th:classappend="${page == '/bimbingan'} ? active : ''">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bimbingan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/bimbingan/atur-jadwal">Atur Jadwal</a>
                        <a class="dropdown-item" href="/bimbingan/viewall">Jadwal Bimbingan</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" id="notificationIcon" width="30" height="30" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm7-6V7a5.002 5.002 0 0 0-4-4.898V2a1 1 0 0 0-2 0v.102A5.002 5.002 0 0 0 1 7v3a3 3 0 0 0-1 2v1a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-1a3 3 0 0 0-1-2zM0 7a6 6 0 0 1 6-6 5.958 5.958 0 0 1 3.998 1.55A3.001 3.001 0 0 0 8 2a3 3 0 0 0-2 5.12V7a7.96 7.96 0 0 0-2 5.122 1 1 0 0 0 2 0 5.963 5.963 0 0 1 4-1.528 6 6 0 0 1 0-12 6 6 0 0 1 0 12z"/>
                        </svg>
                        <!-- Notification badge -->
                        <span class="badge badge-danger">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                        <a class="dropdown-item" href="#">Notification 1</a>
                        <a class="dropdown-item" href="#">Notification 2</a>
                        <a class="dropdown-item" href="#">Notification 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" id="profpic" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown"> 
                        <div sec:authorize="hasAnyAuthority('ROLE_[MAHASISWA]')">
                            <a class="nav-item nav-link text-text-secondary" id="propicDropdown" th:href="@{/profile}">Profile</a>  
                        </div> 
                        <a class="nav-item nav-link text-text-secondary" id="propicDropdown" th:href="@{/updatePass}">Update Password</a>                               
                        <a class="nav-item nav-link text-text-secondary" id="propicDropdown" th:href="@{/logout}">Logout</a>                               
                </li>

               

            </ul>
        </div>

    </nav>

</body>
</html>