<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

</head>

<body>
    <div th:replace="fragments/fragment :: navbar(${'/'})"></div>
    <!--body-->
    <h1>HOME</h1>
    <!--body-->
    <div class="d-flex justify-content-center">
        <h2 th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'">Login as</h2>
    </div>
</body>
</html>