<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        .h2, h2{
            color: #6a5b31;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar (${'/'})"></nav>
    <div class="d-flex justify-content-center align-items-center">
        <div div class="m-4">
            <br>
            <div class="d-flex justify-content-center">
                <h2 th:text=" 'Hello '+${#httpServletRequest.remoteUser}+'!'">Login as</h2>
            </div>
            <h2 style="color: whitesmoke;">Welcome To SITA</h2>

            <div sec:authorize="hasRole('ADMIN')" class="my-3 d-flex justify-content-center">
                <a th:href="@{/mahasiswa/viewall}" class="mx-2 btn btn-outline-success">List Mahasiswa</a>
            </div>
            <!-- <div sec:authorize="hasRole('ADMIN')" class="my-3 d-flex justify-content-center">
                <a th:href="@{/dokter/viewall}" class="mx-2 btn btn-outline-success" >List Dokter</a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="my-3 d-flex justify-content-center">
                <a th:href="@{/apoteker/viewall}" class="mx-2 btn btn-outline-success" >List Apoteker</a>
            </div> -->
            <div sec:authorize="hasRole('ADMIN')" class="my-3 d-flex justify-content-center">
                <a th:href="@{/whitelist/add}" class="mx-2 btn btn-outline-success" >Tambah Whitelist</a>
            </div>
        </div>
    </div>
</body>
</html>