<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

</head>

<body>
    <nav th:replace="fragments/fragment :: navbar (${'/'})"></nav>
    <div class="d-flex justify-content-center align-items-center">
        <div div class="m-4">
            <div sec:authorize="hasAnyAuthority('ROLE_[PEMBIMBING, PENGUJI]', 'ROLE_[KOORDINATOR]')">
                <h5>TEST YA IDIOTS</h5>
              </div>

        </div>
    </div>
</body>
</html>