<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:temporals="http://www.thymeleaf.org/extras/thymeleaf-temporals">
<head>
    <title>SITA</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        body {
            background-color: #ffffff;
        }
        .container-content {
            width: 850px;
            display: flex;
            justify-content: center;
            padding-bottom: 80px;
        }

        .container-table {
            width: 900px;
            height: auto;
            border-radius: 10px;
            border-style: solid;
            border-color: #2D89FF;
        }

        .content-container-table {
            display: flex;
            justify-content: center;
        }

        .table {
            margin-top: 20px;
            width: 1000px;
            height: auto;
        }

        th {
            text-align: center;
            color: #000000;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'/bimbingan'})"></nav>


<div class="container">
    <div class="d-flex justify-content-center">
        <h2 class="mt-4" style="font-weight: bold;">Daftar Jadwal Bimbingan</h2>
    </div>
        <a class="btn btn-sm btn-primary" th:href="@{/bimbingan/atur-jadwal/add}" style="margin: 10px;">Add</a>
    <div class="d-flex justify-content-center">
        <div class="content-container-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Hari</th>
                    <th>Tanggal Bimbingan</th>
                    <th style="text-align: center">Aksi</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="availableBimbingan, iterationStatus : ${listAvailable}" 
                    th:style="${iterationStatus.even} ? 'background-color:#f2f2f2;' : 'background-color:#eceaea;'">
                    <td th:text="${#temporals.format(availableBimbingan.availableTime, 'EEEE')}"></td>
                    <td th:text="${#temporals.format(availableBimbingan.availableTime, 'dd MMMM yyyy HH:mm:ss')}"></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-sm btn-primary" th:attr="href=@{/bimbingan/atur-jadwal/update/{id}(id=${availableBimbingan.idAvailableBimbingan})}">Edit</a>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-primary delete-button" data-toggle="modal" data-target="#deleteConfirmationModal"
                                th:attr="data-id=${availableBimbingan.idAvailableBimbingan}">Hapus</button>                            
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-sm btn-primary booking-button" data-toggle="modal" data-target="#bookingConfirmationModal"
                                th:attr="data-id=${availableBimbingan.idAvailableBimbingan}">Booking</a>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-primary cancel-button" data-toggle="modal" data-target="#cancelConfirmationModal"
                                th:attr="data-id=${availableBimbingan.idAvailableBimbingan}">Cancel</button>                            
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Konfirmasi Hapus Available Bimbingan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah Anda yakin ingin menghapus item ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-sm btn-primary" id="confirmDeleteButton" >Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bookingConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="bookingConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingConfirmationModalLabel">Konfirmasi Booking Jadwal Bimbingan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah Anda yakin ingin booking jadwal bimbingan ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-sm btn-primary" id="confirmBookingButton" >Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="cancelConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelConfirmationModalLabel">Konfirmasi Pembatalan Jadwal Bimbingan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah Anda yakin ingin membatalkan jadwal bimbingan ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-sm btn-primary" id="confirmCancelButton" >Ya</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
// Hapus jadwal available bimbingan
document.querySelectorAll(".delete-button").forEach(function(button) {
    button.addEventListener("click", function() {
        var availableBimbinganId = this.getAttribute("data-id");
        document.getElementById("confirmDeleteButton").setAttribute("data-id", availableBimbinganId);
    });
});
document.getElementById("confirmDeleteButton").addEventListener("click", function() {
    var availableBimbinganId = this.getAttribute("data-id");
    fetch("/bimbingan/atur-jadwal/delete/" + availableBimbinganId, {
        method: "GET",
    })
    .then(function(response) {
        if (response.ok) {
            $("#deleteConfirmationModal").modal("hide");
            window.location.href = "/bimbingan/atur-jadwal";
        } else {
            alert("Gagal menghapus jadwal available.");
        }
    })
    .catch(function(error) {
        console.error("Error:", error);
    });
});
</script>
<script>
//Booking jadwal bimbingan
    document.querySelectorAll(".booking-button").forEach(function(button) {
        button.addEventListener("click", function() {
            var availableBimbinganId = this.getAttribute("data-id");
            document.getElementById("confirmBookingButton").setAttribute("data-id", availableBimbinganId);
        });
    });
    
    document.getElementById("confirmBookingButton").addEventListener("click", function() {
        var availableBimbinganId = this.getAttribute("data-id");
        fetch("/bimbingan/atur-jadwal/booking/" + availableBimbinganId, {
            method: "GET",
        })
        .then(function(response) {
            if (response.ok) {
                $("#bookinghConfirmationModal").modal("hide");
                // Atau lakukan tindakan lain yang sesuai
                window.location.href = "/bimbingan/atur-jadwal";
            } else {
                alert("Gagal memesan jadwal bimbingan.");
            }
        })
        .catch(function(error) {
            console.error("Error:", error);
        });
    });
</script>
<script>
//Cancel jadwal Bimbingan
    document.querySelectorAll(".cancel-button").forEach(function(button) {
        button.addEventListener("click", function() {
            var availableBimbinganId = this.getAttribute("data-id");
            document.getElementById("confirmCancelButton").setAttribute("data-id", availableBimbinganId);
        });
    });
    
    document.getElementById("confirmCancelButton").addEventListener("click", function() {
        var availableBimbinganId = this.getAttribute("data-id");
        fetch("/bimbingan/atur-jadwal/cancel/" + availableBimbinganId, {
            method: "GET",
        })
        .then(function(response) {
            if (response.ok) {
                $("#deleteConfirmationModal").modal("hide");
                window.location.href = "/bimbingan/atur-jadwal";
            } else {
                alert("Gagal membatalkan jadwal bimbingan.");
            }
        })
        .catch(function(error) {
            console.error("Error:", error);
        });
    });
</script>